<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    
    <form method ="get">
        {{filtered_employee.form.as_p}}
        <input type = "submit" value="Press">
    </form>

    <div class="container mt-5">
        {% if filtered_employee %}
        <table>
            <thead>
            <tr>
            <th style="width:10%">Employee ID</th>
            <th style="width:30%">First Name</th>
            <th style="width:30%">Last Name</th>
            <th style="width:30%">Department</th>
            <th style="width:10%">Gender</th>

            </tr>
            </thead>

            <tbody>
                {% for employee in page_obj %}
               
                <tr class="pt-4">
                <td>{{employee.emp_id}}</td>
                <td>{{employee.first_name}}</td>
                <td>{{employee.last_name}}</td>
                <td>{{employee.department}}</td>
                <td>{{employee.gender}}</td>
                <td><a href="{{employee.emp_id}}" class="btn btn-success">View</a></td>
                </tr>
               
                {% endfor %}
                <hr>
            </tbody>
        </table>
        {% else %}
        <p class="text-center"> No Uers found.. Try something else</p>
        {% endif %}

    </div> 

    <div class = "pagination">
        <span class = 'step-links'>
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; First</a>
                <a href="?page={{page_obj.previous_page_number}}">Previous</a>

            {% endif %}

            <span class = "current">
                page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
            </span>

            {% if page_obj.has_next %}
            <a href="?page={{page_obj.next_page_number}}">Next</a>
            <a href="?page={{page_obj.paginator.num_pages}}">&raquo;Last</a>

            {% endif %}

        </span> 

    </div>
    <footer class="bg-dark p-2 mt-5">
        <p class="text-center text-white">User Details</p>
    </footer>
   
</body>
</html>